*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
h2{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.cabecalho{
    background-color: rgb(80, 167, 159);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px; 
    
}
#oi{
    display: flex;
    color: aliceblue;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
}

a{
    text-decoration: none;
    color: aliceblue;
}
.banner{
    background-color: rgb(194, 241, 241);
    display: flex;
    justify-content: center;
    padding: 50px;
    flex-direction: column;
    margin-bottom: 50px;
}
.banner  p{
    color: rgb(7, 99, 99);
    display: flex;
    justify-content: center;
    margin: 12px;
    margin-bottom: 15px;
    
}
.banner button{ color: blue;
    display: flex;
    justify-content: center;
    border: none;
    padding: 15px;
    border-radius: 5px;
    width: 200px;
    
}
.produto {
    display: flex;
    border: solid black;
    gap: 5px;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    
}

.produtos{
    display: flex;
    gap: 10px;
    margin-bottom: 100px;
    justify-content: space-evenly;



}
.produto h3{
    display: flex;
    justify-content: center;
}

.catalago h2{
    display: flex;
    justify-content: space-evenly; 
   margin-bottom: 50px;

}
.rodape{
    background-color: rgb(80, 167, 159);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px; 
}
.banner h2{
    font-family: "Belanosima", sans-serif;
    display: flex;
    justify-content: center;
    color: rgb(5, 75, 75);
    font-size: 50px;
}


.produto button{
    display: flex;
    justify-content: center;
    background-color: rgb(46, 46, 253);
    color: aliceblue;
    font-size: 15px;
    border-radius: 5px;
    width: 200px;
}
.produto p{
    display: flex;
    justify-content: center;
}
button{
    display: flex;
    justify-content: center;
}


